.DS_Store
/target
assets/rig-orig.png
rig.yaml
rig.yml
!example/**/rig.yaml
!example/rig.yaml
!example/**/*.rig.yaml
!example/*.rig.yaml
!tests/fixtures/**/rig.yaml
!tests/fixtures/**/rig.yml
.rig/
test/tmp/
rfc/